<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.oghenovo.studentdata">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentDataAPP">
        <activity android:name="com.oghenovo.studentdata.ui.SplashActivity"
            android:theme="@style/Theme.StudentDataAPP.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.oghenovo.studentdata.newactivity.AddStudentDataActivity" />
        <activity android:name="com.oghenovo.studentdata.MainActivity">

        </activity>
    </application>

</manifest>